@font-face {
    font-family: 'Hedvig Letters Serif';
    font-style: normal;
    font-weight: 400;
    src:
      local("Hedvig Letters Serif"),
      url("../fonts/HedvigLettersSerif-Regular.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


::root {
    --color: 19 15 14;
    --background: 240 234 230;
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
html {
    height: 100%;
    width: 100vw;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 18px;
    background-color: rgb(var(--background));
    color: var(--color);
    margin: 0;
}


header {
    max-width: clamp(75ch, 90%, 1217px);
    margin: 0 auto;
}

footer {
    background: hsl(12 20% 97%);
    width: 100%;
    padding: 2em;
}

main {
    padding: 1em;
}

section {
    margin: 3em 0;
}

article p {
    margin-bottom: 1.5em;
}

article p + p {
    text-indent: .5em;
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 2px;
    color: #666;
}


figcaption {
    color: rgba(var(--color), .6);
    font-size: 14px;
}



.under-footer {
    background: hsl(12 10% 90%);
    font-size: 10px;
    opacity: 0.65;
    padding: 1em 4em;
}


a {
    color: hsl(0 70% 50%)
}

a:hover,
a:focus {
    text-decoration: none;
    color: hsl(0 75% 55%)
}

a:focus {
    outline: 1px solid red;
    -moz-outline-radius: 2px;
    outline-offset: 8px;

}

/* CTA (Firma Ora) */

a.cta {
    display: block;
    margin: 1em auto;
    padding: 1em 1.85em;
    border-radius: 2px;
    color: #fff;
    background: hsl(0 90% 60%);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: 
        color 50ms ease, 
        transform 200ms ease-out;
    width: fit-content;
    text-align: center;
}

a.cta:hover,
a.cta:focus {
    background: hsl(0 94% 58%);
    transform: scale(1.03);
}

a.cta:active {
    background: hsl(0 94% 50%);
    transform: scale(1);
}

/* TEXT */

h1, h2, h3, h4, h5, h6, .serif {
    font-family: 'Hedvig Letters Serif', Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-display: swap;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-sm {
    font-size: 0.8em;
}

.text-mute {
    color: rgba(var(--color), 0.65)
}

.text-xl {
    font-size: 1.6em;
    font-weight: 300; 
}

.text-lg {
    font-size: 1.2em;
    font-weight: 300; 
}


/* margin */

.my-lg,
.mt-lg  {
    margin-top: 3em !important;
}

.my-lg, 
.mb-lg {
    margin-bottom: 3em !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-sm {
    margin-bottom: 1em !important;
}



.p-1 {
    padding: 1em;
}

.mx-1 {
    margin: 0 1em;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.w-prose {
    max-width: 65ch;
}

ul.unlist {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

ul.unlist li + li {
    margin: 1em 0;
}

ol {
    padding-left: 1em;
}

ol li {
    margin: 1em 0;
}

.flex-row {
    --gap: 3em;
    --align: flex-start;
    --justify: center;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
    align-items: var(--align);
    justify-content:  var(--justify);
}

li.icon a svg {
    width: 36px;
    height: 36px;
}


.columns-desktop {
    columns: 2;
    column-gap: 2em;
}


@media (max-width: 996px ){
    .flex-row {
        --justify: flex-start;
        --gap: 1em;
    }
    .columns-desktop {
        columns: 1;
    }
}


